@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Shrikhand&display=swap");
img {
  width: 100%;
  object-fit: cover;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
  position: relative;
  top: -50%;
}

.loader {
  display: none;
}

.header__main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.header__main h1 {
  font-family: "Shrikhand", cursive;
  font-size: 200%;
}
.header__localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #dfdfdf;
  box-shadow: 0 0 0 -4px, black;
}
.header__localisation label {
  color: black;
  margin-left: 80px;
  font-size: 20px;
}
.header__localisation input {
  background-color: transparent;
  border: none;
  padding-left: 15px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
}
.header__localisation input:focus {
  outline: none;
}

/* largeur max et auto centrage */
.header__promesses {
  font-family: "Roboto", sans-serif;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 250px;
  padding-top: 15px;
  padding-bottom: 55px;
}
.header__promesses h1 {
  font-size: 25px;
  font-weight: 1000;
}
.header__promesses p {
  font-size: 20px;
  font-weight: lighter;
}
.header__promesses a {
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 15px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  box-shadow: 2px 6px 20px rgba(153, 153, 153, 0.6);
}

.fonctionnement__titre {
  font-family: "Roboto", sans-serif;
  font-weight: 1000;
  font-size: 25px;
}
.fonctionnement__liste {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.fonctionnement__operation {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  width: 100%;
  background-color: #f6f6f6;
  box-shadow: 2px 6px 20px rgba(153, 153, 153, 0.6);
  border-radius: 20px;
  padding: 30px 0;
  margin-bottom: 25px;
  cursor: pointer;
}
.fonctionnement__operation span {
  position: absolute;
  left: -15px;
  top: 28px;
  background-color: #9356DC;
  color: white;
  border-radius: 50px;
  padding: 5px 10px;
}
.fonctionnement__operation i {
  position: absolute;
  left: 30px;
  top: 32px;
  color: grey;
  font-size: 20px;
}

.restaurants__titre {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.restaurants__carte {
  position: relative;
  border-radius: 15px;
  height: 265px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  box-shadow: 2px 6px 20px rgba(153, 153, 153, 0.6);
}
.restaurants img {
  position: absolute;
  top: 0;
  height: 190px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.restaurants span {
  position: absolute;
  background: #99E2D0;
  color: #008766;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  top: 15px;
  right: 15px;
  padding: 7px 15px;
  border-radius: 3px;
}
.restaurants h3 {
  position: absolute;
  top: 180px;
  left: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 1000;
}
.restaurants p {
  position: absolute;
  top: 210px;
  left: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: lighter;
}
.restaurants i {
  position: absolute;
  right: 20px;
  top: 220px;
  font-size: 25px;
  height: 45px;
  empty-cells: initial;
}

/*# sourceMappingURL=style.css.map */
