@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Shrikhand&display=swap");
body {
  margin: 0;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
  position: relative;
  top: -50%;
}

.loader {
  display: none;
}

.header__main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.header__main h1 {
  font-family: "Shrikhand", cursive;
  font-size: 150%;
}
.header__localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: #dfdfdf;
  box-shadow: 0 0 0 -4px, black;
}
.header__localisation label {
  color: black;
  margin-left: 60px;
  font-size: 15px;
}
.header__localisation input {
  background-color: transparent;
  border: none;
  padding-left: 15px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
.header__localisation input:focus {
  outline: none;
}

/* largeur max et auto centrage */
.header__promesses {
  font-family: "Roboto", sans-serif;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 160px;
  padding-top: 15px;
  padding-bottom: 55px;
}
.header__promesses h1 {
  font-size: 125%;
  font-weight: 1000;
  margin: 10px 50px;
}
.header__promesses p {
  font-size: 100%;
  font-weight: lighter;
  margin: 0 20px 10px 20px;
}
.header__promesses a {
  color: white;
  font-size: 80%;
  font-weight: lighter;
  padding: 12px 16px;
  margin-top: 15px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  box-shadow: 2px 6px 20px rgba(153, 153, 153, 0.6);
}

.fonctionnement {
  margin-bottom: 60px;
}
.fonctionnement__titre {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 120%;
  margin: 45px 0 25px 20px;
}
.fonctionnement__liste {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.fonctionnement__operation {
  position: relative;
  left: -15px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 2px 6px 20px rgba(153, 153, 153, 0.6);
  border-radius: 20px;
  padding: 25px 0;
  margin-bottom: 20px;
  cursor: pointer;
}
.fonctionnement__operation span {
  position: absolute;
  left: -12px;
  top: 25px;
  font-size: 85%;
  font-weight: lighter;
  background-color: #9356DC;
  color: white;
  border-radius: 50px;
  padding: 3.5px 8px;
}
.fonctionnement__operation i {
  position: absolute;
  left: 30px;
  top: 26px;
  color: grey;
  font-size: 17px;
}

.restaurants {
  background-color: #eeeeee;
  height: 1150px;
}
.restaurants__titre {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 120%;
  margin-left: 15px;
  padding-top: 50px;
}
.restaurants__carte {
  position: relative;
  border-radius: 15px;
  height: 230px;
  margin: 20px 15px;
  background-color: whitesmoke;
  box-shadow: 2px 6px 20px rgba(153, 153, 153, 0.6);
}
.restaurants img {
  position: absolute;
  top: 0;
  height: 170px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.restaurants span {
  position: absolute;
  background: #99E2D0;
  color: #008766;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: bold;
  top: 12px;
  right: 12px;
  padding: 5px 10px;
  border-radius: 2px;
}
.restaurants h3 {
  position: absolute;
  top: 165px;
  left: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  font-weight: 1000;
}
.restaurants p {
  position: absolute;
  top: 190px;
  left: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 90%;
  font-weight: lighter;
}
.restaurants i {
  position: absolute;
  right: 20px;
  top: 185px;
  font-size: 120%;
  height: 45px;
  color: #9356DC;
  /*en attendant le degradé et l'animation*/
}

.footer {
  display: flex;
  flex-direction: column;
  height: 160px;
  background-color: #353535;
  color: white;
  padding: 10px 0 0 25px;
}
.footer__logo {
  display: flex;
  color: white;
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  margin-bottom: 0;
}
.footer__list {
  flex-direction: column;
  padding-left: 0;
}
.footer__list li {
  display: flex;
  color: white;
  margin-bottom: 10px;
  justify-content: start;
}
.footer__list li i {
  display: flex;
  color: white;
  margin-right: 25px;
  font-size: 12px;
}
.footer__list li i--proporesto {
  padding-left: px;
}
.footer__list li a {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: lighter;
}

.headermenu__main {
  position: relative;
  width: 100%;
  height: 40px;
}
.headermenu__main span {
  position: absolute;
  left: 15px;
  top: 10px;
}
.headermenu__main h1 {
  font-family: "Shrikhand", cursive;
  font-size: 150%;
  text-align: center;
}
.headermenu__banner--img {
  position: absolute;
  width: 100%;
}

.menu {
  position: absolute;
  border-radius: 30px;
  background-color: white;
  top: 230px;
  z-index: 1;
  width: 100%;
}
.menu__titre {
  position: relative;
}
.menu__titre h2 {
  position: absolute;
  left: 15px;
  top: 10px;
  font-family: "Shrikhand", cursive;
  font-size: 120%;
}
.menu__titre i {
  position: absolute;
  right: 30px;
  top: 32px;
  font-size: 120%;
}
.menu__entrees {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
.menu__entrees--titre {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 15px;
  width: 35px;
  padding-bottom: 5px;
  margin-left: 15px;
  border-bottom: 3px #99E2D0 solid;
}
.menu__entrees--plat {
  padding: 0 12px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 6px 20px rgba(153, 153, 153, 0.6);
  height: 62px;
  margin: 10px;
  position: relative;
}
.menu__entrees--plat h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 105%;
  position: absolute;
  top: -8px;
}
.menu__entrees--plat p {
  font-family: "Roboto", sans-serif;
  font-size: 90%;
  position: absolute;
  top: 20px;
}
.menu__entrees--plat strong {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  position: absolute;
  right: -325px;
}
.menu__plats {
  display: flex;
  flex-direction: column;
}
.menu__plats--titre {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 15px;
  width: 35px;
  padding-bottom: 5px;
  margin-left: 15px;
  border-bottom: 3px #99E2D0 solid;
}
.menu__plats--plat {
  padding: 0 12px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 6px 20px rgba(153, 153, 153, 0.6);
  height: 62px;
  margin: 10px;
  position: relative;
}
.menu__plats--plat h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 105%;
  position: absolute;
  top: -8px;
}
.menu__plats--plat p {
  font-family: "Roboto", sans-serif;
  font-size: 90%;
  position: absolute;
  top: 20px;
}
.menu__plats--plat strong {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  position: absolute;
  right: -325px;
}
.menu__desserts--titre {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 15px;
  width: 35px;
  padding-bottom: 5px;
  margin-left: 15px;
  border-bottom: 3px #99E2D0 solid;
}
.menu__desserts--dessert {
  padding: 0 12px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 6px 20px rgba(153, 153, 153, 0.6);
  height: 62px;
  margin: 10px;
  position: relative;
}
.menu__desserts--dessert h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 105%;
  position: absolute;
  top: -8px;
}
.menu__desserts--dessert p {
  font-family: "Roboto", sans-serif;
  font-size: 90%;
  position: absolute;
  top: 20px;
}
.menu__desserts--dessert strong {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  position: absolute;
  right: -325px;
}
.menu__btn {
  margin-top: 50px;
  text-align: center;
}
.menu__btn a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 200;
  padding: 15px 40px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  box-shadow: 2px 6px 20px rgba(153, 153, 153, 0.6);
}

.footer {
  display: flex;
  flex-direction: column;
  height: 200px;
  background-color: #353535;
  color: white;
  padding: 10px 0 0 30px;
}
.footer__logo {
  display: flex;
  color: white;
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  font-weight: lighter;
}
.footer__list {
  flex-direction: column;
  padding-left: 0;
}
.footer__list li {
  display: flex;
  color: white;
  margin-bottom: 10px;
  justify-content: start;
}
.footer__list li i {
  display: flex;
  color: white;
  margin-right: 15px;
  font-size: 15px;
}
.footer__list li a {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: lighter;
}

/*# sourceMappingURL=style.css.map */
