.fonctionnement {
    margin-bottom: 60px;
    &__titre {
        font-family: $font-text;
        font-weight: bolder;
        font-size: 130%;
        margin: 45px 0 25px 20px;
    }
    &__liste {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        
    }
    &__operation {
        position: relative;
        left: -15px;
        font-family: $font-text;
        font-weight: bold;
        font-size: 90%;
        text-align: center;
        width: 100%;
        background-color: #f3f3f3;
        box-shadow: 2px 6px 20px rgb(153 153 153 / 60%);
        border-radius: 20px;
        padding: 25px 0;
        margin-bottom: 20px;    
        cursor: pointer;
            
        span {
            position: absolute;
            left: -12px;
            top: 25px;
            font-size: 85%;
            font-weight: lighter;
            background-color: $Main-Color;
            color: white;
            border-radius: 50px;
            padding: 3.5px 8px;
        }
        i {
            position: absolute;
            left: 30px;
            top: 26px;
            color: grey;
            font-size: 17px;

        }
    }
}