.restaurants {
    background-color: rgb(247, 246, 246);
    height: 1150px;


    &__titre {
        font-family: $font-text;
        font-weight: bold;
        font-size: 120%;
        margin-left: 15px;
        padding-top: 50px;
    }
    &__carte {
        position: relative;
        border-radius: 15px;
        height: 230px;
        margin: 20px 15px;
        background-color: rgb(245, 245, 245);
        box-shadow: 2px 6px 20px rgb(153 153 153 / 60%);
    }
        img {
            position: absolute;
            top: 0;
            height: 170px;
            width: 100%;
            border-radius: 15px 15px 0 0;

        }
        span {
            position: absolute;
            background: $Third-Color;
            color: $Third-Color-Dark;
            font-family: $font-text;
            font-size: 12px;
            font-weight: bold;
            top: 12px;
            right: 12px;
            padding: 5px 10px;
            border-radius: 2px;
        
        }
        h3 {
            position: absolute;
            top: 165px;
            left: 12px;
            font-family: $font-text;
            font-size: 100%;
            font-weight: 1000;

            }
        p {
            position: absolute;
            top: 190px;
            left: 12px;
            font-family: $font-text;
            font-size: 90%;
            font-weight: lighter;

            }
        i {
            position: absolute;
            right: 20px;
            top: 185px;
            font-size: 120%;
            height: 45px;
            color: $Main-Color; /*en attendant le degradé et l'animation*/
            }
}