//Polices Importations
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Shrikhand&display=swap');

//Polices Déclarations
$font-logo:"Shrikhand", cursive;
$font-text: "Roboto", sans-serif;

//Couleurs Déclarations
$Main-Color: #9356DC;
$Secondary-Color: #FF79DA;
$Third-Color: #99E2D0;
$Third-Color-Dark: #008766;
$Footer-Color: #353535;


