.headermenu {
    &__main {
        position: relative;
        display: flex;
        width: 100%;
        height: 60px;
        span {
            position: absolute;
            left: 15px;
            display: flex;
            align-self: center;
            font-size: large;
            font-weight: bold;
        }
        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $font-logo;
            font-size: 180%;
            margin: auto;
        }
    }
    &__banner {
        &--img {
            width: 100%;
        }
    }
}
.menu {
    position: absolute;
    border-radius: 25px 25px 0 0;
    background-color: white;
    z-index: 1;
    width: 100%;
    margin-top: -15px;
    &__titre {
        position: relative;
        h2 {
            position: absolute;
            left: 15px;
            top: 8px;
            font-family: $font-logo;
            font-size: 150%;
        }
        i {
            position: absolute;
            right: 30px;
            top: 35px;
            font-size: 160%;
        }
    }
    &__entrees {
        display: flex;
        flex-direction: column;
        margin-top: 80px;

         &--titre {
            font-family: $font-text;
            font-weight: lighter;
            font-size: 18px;
            width: 40px;
            padding-bottom: 5px;
            margin-left: 15px;
            margin-bottom: 0;
            border-bottom: 3px $Third-Color solid;
        }
        &--plat {
            position: relative;
            margin-top: 15px;
            margin-left: 15px;
            margin-right: 15px;
            z-index: 1;
            background-color: white;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 2px 6px 20px rgb(153 153 153 / 60%);
            height: 70px;
            padding: 0 12px;

            h3 {
                position: absolute;
                top: -6px;
                font-family: $font-text;
                font-weight: bold;
                font-size: 110%;
            }
            p {
                position: absolute;
                top: 24px;
                font-family: $font-text;
                font-size: 100%;
            }
            span {
                position: absolute;
                top: 40px;
                right: 30px;
                font-family: $font-text;
                font-weight: bold;
                font-size: 95%;
                
            }
        }
    }
    &__plats {
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        &--titre {
            font-family: $font-text;
            font-weight: lighter;
            font-size: 18px;
            width: 40px;
            padding-bottom: 5px;
            margin-left: 15px;
            margin-bottom: 0;
            border-bottom: 3px $Third-Color solid;
        }
        &--plat {
            position: relative;
            margin-top: 15px;
            margin-left: 15px;
            margin-right: 15px;
            z-index: 1;
            background-color: white;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 2px 6px 20px rgb(153 153 153 / 60%);
            height: 70px;
            padding: 0 12px;
            
            h3 {
                position: absolute;
                top: -6px;
                font-family: $font-text;
                font-weight: bold;
                font-size: 110%;
            }
            p {
                position: absolute;
                top: 24px;
                font-family: $font-text;
                font-size: 100%;
            }
            span {
                position: absolute;
                top: 40px;
                right: 30px;
                font-family: $font-text;
                font-weight: bold;
                font-size: 95%;
            }
        }
    }
    &__desserts {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        
        &--titre {
            font-family: $font-text;
            font-weight: lighter;
            font-size: 18px;
            width: 40px;
            padding-bottom: 5px;
            margin-left: 15px;
            margin-bottom: 0;
            border-bottom: 3px $Third-Color solid;
        }
        &--dessert {
            position: relative;
            margin-top: 15px;
            margin-left: 15px;
            margin-right: 15px;
            z-index: 1;
            background-color: white;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 2px 6px 20px rgb(153 153 153 / 60%);
            height: 70px;
            padding: 0 12px;
            
            h3 {
                position: absolute;
                top: -6px;
                font-family: $font-text;
                font-weight: bold;
                font-size: 110%;
            }
            p {
                position: absolute;
                top: 24px;
                font-family: $font-text;
                font-size: 100%;
            }
            span {
                position: absolute;
                top: 40px;
                right: 30px;
                font-family: $font-text;
                font-weight: bold;
                font-size: 95%;
            }
        }
    }

    &__btn {
        margin-top: 70px;
        margin-bottom: 70px;
        text-align: center;
        a {
            color: white;
            font-family: $font-text;
            font-size: 15px;
            font-weight: 200;
            padding: 17px 55px;
            background: linear-gradient(to bottom right, $Secondary-Color, $Main-Color);
            border: none;
            border-radius: 25px;
            text-align: center;
            cursor: pointer;
            box-shadow: 2px 6px 20px rgb(153 153 153 / 60%);          
        }   
    }



}
.footerMenu {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 200px;
    background-color: $Footer-Color;
    color: white;
    padding: 10px 0 0 25px;

    &__logo {
        display: flex;
        color: white;
        font-family: $font-logo;
        font-weight: lighter;
        margin-bottom: 0;
        font-size: 120%;
    }
    &__list {
        flex-direction: column;
        padding-left: 0;
        li {
            display: flex;
            color: white;
            margin-bottom: 10px;
            justify-content: start;  
            .fa-utensils {
                display: flex;
                color: white;
                font-size: 15px;
                margin-right: 15px;
                }
            .fa-hands-helping {
                display: flex;
                color: white;
                font-size: 15px;
                margin-right: 8px;
                }
            a {
                font-family: $font-text;
                color: white;
                font-weight: lighter;
            }    
        }    
    }
}

   