/* largeur max et auto centrage */
@mixin center-max {
    max-width: 1440px;
    margin: auto;
}

/* Nom du plat trop long => points de suspension */
@mixin text-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
  
  
/*Responsiv Design*/

/*Smartphone*/

@mixin Kamino {
    @media screen and (max-width: map-get()) {}
}


/*Tablettes*/

@mixin Tatooine {
    @media all and (min-width: 601px) and (max-width: 992px) {}
}


/*Desktop*/

@mixin Coruscant {
    @media all and (min-width: 993px) and (max-width: 1400px) {}
}
