/* largeur max et auto centrage */
@mixin center-max {
    max-width: 1440px;
    margin: auto;
}

/* Coupure des noms de plats trop long avec points de suspension */
@mixin suspension {
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  

/*Responsiv Design*/



