.header {
    &__main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        font-family: $font-logo;
    }
    &__logo {
        font-family: $font-logo;
        font-size: 30px;
    }
    &__back {
        display: flex;
        justify-content: left;
    }
    }